/*https://nexthemes.co/demo/html/virtualreality/#*/
/*https://onepagelove.com/comply*/
/*https://colorhunt.co/palette/139667*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;



}

.logo {
    color: #f7b633;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    cursor: pointer;
}

header {
    background-color: #070d59;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #f7b633;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #f7b633;
    margin: 5px;
    transition: all 0.3s ease;
}

/*media querys*/
@media screen and (max-width:1024px) {
    .nav-links {

        width: 60%;

    }
}