/*https://nexthemes.co/demo/html/virtualreality/#*/
/*https://onepagelove.com/comply*/
/*https://colorhunt.co/palette/139667*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

/*Header Styles*/
.main-header {
    background: #1f3c88;
    color: white;
    height: 900px;
}



/*Navigation Styles*/
.navbar {
    color: #f7b633;
    display: flex;
    padding: 22px;
    font-family: sans-serif;
    color: white;
    z-index: 999;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}



.navbar-link-brand a {
    color: #f7b633;
    font-size: 1.5rem;
    text-decoration: none;

}


.navbar-link {
    padding-right: 28px;
    color: #f7b633;
    text-decoration: none;
    list-style-type: none;
}

.navbar-link a {
    color: #f7b633;
    text-decoration: none;

}

.navbar-items {
    display: flex;
    justify-content: space-around;
}

.navbar-items ul {
    display: flex;
    justify-content: space-between;
}

.navbar-items-right {
    margin-left: auto;
}

.navbar-link-toggle {
    display: none;
    font-size: 1.5rem;

}

/*headline-container styles*/
.headline-container {
    display: flex;
    flex-direction: row;

    padding-top: 15%;
    margin: 0 auto;
    width: 80%;


}

.headline-container img {
    width: 450px;
    height: 250px;






}

.headline-text {
    margin: 48px;
}

.headline-text h1,
p {
    padding-bottom: 5px;
}

.headline-heading-color {
    color: #f7b633;
}


.btn {
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;

}

.btn-buy {
    background: #f7b633;
    color: white;
}

.btn-buy:hover {
    cursor: pointer;
}

.btn-download {
    color: #f7b633;
}

.btn-download:hover {
    cursor: pointer;
}

/*Features Section Styles*/
#features {
    text-align: center;

}

#features h2 {
    text-align: center;
    padding: 25px;
    color: #f7b633;
    font-size: 1.5rem;
}

#features p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 28px;
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 25px;





}

.features-box {
    padding: 5px;
    margin: 25px;

}

.features-box .fas {
    color: #1f3c88;
}

.features-box i,
h3,
p {
    padding-bottom: 25px;
}

.features-box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.Whats-new {
    height: 800px;
    padding-top: 190px;
}

.Wnew-container {
    display: flex;
    flex-direction: row;

}

.Wnew-container .div-content {
    padding-left: 55px;
    padding-right: 35px;
    padding-top: 35px;
    height: 500px;
    width: 100%;

}

.Wnew-container .div-content h2 {
    font-size: 1.4rem;
    padding-bottom: 25px;
}

.div-content .btn-new {
    margin-top: 25px;
    padding: 8px;
}

/*pricing section styles*/
.pricing h2 {

    text-align: center;
}

.pricing p {
    text-align: center;

}

.pricing-container {
    display: flex;
    justify-content: center;

}

.pricing-container .pricing-box {
    margin: 25px;
    padding: 85px;
    text-align: center;

}

.pricing-container .pricing-box .pricing-border {
    border-bottom: 1.5px solid #1f3c88;

    width: 250px
}

.pricing-container .pricing-box ul li {
    font-size: 1.2rem;
    padding-top: 25px;
}

.pricing-container .pricing-box:hover {
    border: 2px solid #eee;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.pricing-container .pricing-box h3 {
    font-size: 1.8rem;
}

.pricing-container .pricing-box .price {
    color: #1f3c88;
    font-size: 1.5rem;
    font-weight: bolder;
}

.pricing-container .pricing-box ul {
    list-style: none;
}

.pricing-container .pricing-box ul li {
    padding-bottom: 15px;
}

.pricing-container .pricing-box .btn-pricing {
    margin-top: 15px;
    padding: 14px 28px;
    border-radius: 50px;
    border: none;
    background: #1f3c88;
    color: white;
    cursor: pointer;
}

.pricing-container .pricing-box .btn-pricing:hover {
    cursor: pointer;

}

.download {
    text-align: center;
    padding: 120px;

}

.download h2 {
    font-size: 2rem;
    padding-bottom: 25px;
    color: #1f3c88;
}

.download .googleBtn,
.appleBtn {
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background: #1f3c88;
    color: white;
}

.download .fab {
    padding-right: 8px;
}