/*https://nexthemes.co/demo/html/virtualreality/#*/
/*https://onepagelove.com/comply*/
/*https://colorhunt.co/palette/139667*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}