* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}



.nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5893d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 999;
}

.nav-links li {
    opacity: 0;
}

.burger {
    display: block;
}

.nav-active {
    transform: translateX(0%);

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);

    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .link-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .link-2 {
    display: none;
}

.toggle .link-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}