/*https://nexthemes.co/demo/html/virtualreality/#*/
/*https://onepagelove.com/comply*/
/*https://colorhunt.co/palette/139667*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

/*Header Styles*/
#main-header {
    background: #1f3c88;
    color: white;
    height: 900px;
}

#header-brand {
    font-size: 2rem;
    text-decoration: none;
    color: #f7b633;
    font-weight: bold;
}

/*header-navigation styles*/
.navbar {
    font-size: 18px;
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: white;
}



.logo-header {
    text-decoration: none;
    color: #f7b633;

}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.main-nav a:hover {
    color: #f7b633;


}

.logo-header {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

/*headline-container styles*/
.headline-container {
    display: flex;
    flex-direction: row;

    padding-top: 15%;
    margin: 0 auto;
    width: 80%;


}

.headline-container img {
    width: 450px;
    height: 250px;






}

.headline-text {
    margin: 48px;
}

.headline-text h1,
p {
    padding-bottom: 5px;
}

.headline-heading-color {
    color: #f7b633;
}


.btn {
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;

}

.btn-buy {
    background: #f7b633;
    color: white;
}

.btn-download {
    color: #f7b633;
}

/*Features Section Styles*/
#features {
    text-align: center;

}

#features h2 {
    text-align: center;
    padding: 25px;
    color: #f7b633;
    font-size: 1.5rem;
}

#features p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 28px;
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 25px;





}

.features-box {
    padding: 5px;
    margin: 25px;

}

.features-box .fas {
    color: #1f3c88;
}

.features-box i,
h3,
p {
    padding-bottom: 25px;
}

.features-box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

@media screen and (max-width: 668px) {
    .headline-container {
        text-align: center;
        margin: 0px;
        padding-top: 200px;
        width: 100%;
    }

    .headline-container p {
        font-size: 1.3rem;
    }

    .btn {
        margin: 15px;
    }

    .headline-container img {
        display: none;
    }

    .main-nav {
        background: #5893d4;
    }



    .main-nav li:hover {
        background: #f7b633;

    }

    .headline-container .headline-text {}

    .headline-container .headline-text h1 {
        padding-bottom: 15px;
    }

    .headline-container .headline-text p {
        padding-bottom: 15px;
    }

    #features h2 {
        text-align: center;
        padding: 25px;
        color: #f7b633;
        font-size: 1.5rem;
    }

    #features p {
        text-align: center;
        font-size: 1rem;
    }

    .features-container {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .features-box {
        margin: 25px;
        padding: 25px;
    }

}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;




    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;



    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo-header {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }


}